.kv{
    height: 100vh;
    width: 100%;
    display: block;
    background-image: url("../image/kvimage/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.kv-container{
    max-width: 980px;
    margin: 0 auto;    
}
.kv-container,
.kv-container a{
    color: #fff;
    text-decoration: none;
}

/* kv-nav */
nav div{
    display: inline-block;
}

span h1{
    font-size: 30px;
    font-family: open sans sans-serif;
}

span h3{
    font-size: 12px;
    text-align: end;
    font-family: open sans,sans-serif;
}

.logo-link-group{
    vertical-align: super;
    font-size: 14px;
}

.logo-link-group{
    
}


/* kv-main */
.kv-main-content{
    text-align: center;
    font-weight: 700;
}
.kv-main-content p:first-child{
    font-size: 37px;
}
.kv-main-content:nth-child(2){
    text-transform: uppercase;
    font-size: 18px;
}



/* kv-join */
.info-group{
    display: flex;
    justify-content:space-evenly;
    font-size: 0;
}
.info-group a{
    display: inline-block;
    font-size: 16px;
    line-height: 48px;
    background-color: rgb(50, 150, 200, .5);
    padding: 0 20px;
    font-weight: 700;
    
}