/* title */
.process-title{
    position: relative;
    max-width: 1260px;
    min-width: 980px;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(4, 81, 132);
}

.process-title img{
    object-fit: cover;
    opacity: 0.1;
    height: 100%;
    width: 100%;
}

.process-text{
    position: absolute;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.15em;
    line-height: 1.1em;
    font-weight: 600;
    font-family: メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}

/* container */
.process-container{
    min-width: 960px;
    max-width: 1260px;
}

.process-content-group{
    padding: 60px 0;
    display: flex;
}

.process-col{
    max-width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-col ul{
    list-style: disc;
    max-width: 190px;
    margin: 0 auto;
}
.process-col ul > li{
    line-height: 1.5;
}


.process-col h2 , h3{
    font-size: 18px;
    font-family: メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;font-weight: 600;
}

.process-col ul{
    
}



.process-col h3{
    color: #F50038;
    padding-bottom: 25px;
}

.process-img{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.img-model-fi{
    width: 95px;
    height: 75px;
}
.img-model-se{
    width: 75px;
    height: 84px;
}
.img-model-th{
    width: 74px;
    height: 90px;
}





